* {
  font: "JetBrainsMono Nerd Font 12";
}

window {
  width: 460px;
  border-radius: 14px;
}

mainbox {
  padding: 12px;
}

listview {
  lines: 9;
  spacing: 6px;
}

element {
  padding: 6px;
  border-radius: 10px;
}

element selected {
  background-color: #89b4fa;
  text-color: #1e1e2e;
}

prompt {
  text-color: #89b4fa;
}
