{% extends 'admin/base_admin.html' %}

{% block title %} Listar categoria{% endblock %}

{% block content %}

<div class="content">
    <h3 style="background-color: rgb(198, 197, 197);">
        Cadastrar Categoria</h3>


   <div class="container">
    <form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="nome_categoria">Nome da categoria:</label>
        <input type="text" id="nome_categoria"
        name="nome_categoria" required>
    </div>

    <div class="form-group">
        <label for="descricao">Descriçao:</label>
        <input type="text" id="descricao" name="descricao" required>
    </div>

    <div class="form-group">
        <label for="ativo">Ativo</label>
        <input type="text" id="ativo" name="ativo">
    </div>

    <div class="form-group">
        <label for="imagem">Imagem:</label>
        <input type="file" id="imagem" name="imagem">
    </div>
    <button type="submit">Cadastrar</button>

    </form>
   </div>
 </div>
{% endblock %}