{% extends 'admin/base_admin.html' %}
{% block title %} Editar produto{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3">Editar Produto: {{ produto['nome'] }}</h1>

    <div class="card">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                
                <div class="mb-3">
                    <label>Nome do Produto:</label>
                    <input type="text" name="nome_produto" class="form-control" value="{{ produto['nome'] }}" required>
                </div>
                
                <div class="mb-3">
                    <label>Preço (R$):</label>
                    <input type="number" step="0.01" name="preco" class="form-control" value="{{ produto['preco'] }}" required>
                </div>

                <div class="mb-3">
                    <label>Status:</label>
                    <select name="ativo" class="form-select">
                        <option value="True" {% if produto['ativo'] == 'True' %}selected{% endif %}>Ativo</option>
                        <option value="False" {% if produto['ativo'] == 'False' %}selected{% endif %}>Inativo</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label>Categoria:</label>
                    <select name="id_categoria" class="form-select" required>
                        <option value="">Selecione uma categoria</option>
                        {% for c in categorias %}
                            <option value="{{ c.id }}" {% if c.id == produto['id_categoria'] %}selected{% endif %}>
                                {{ c.nome }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label>Imagem Atual:</label>
                    <div>
                        <img src="data:image/jpeg;base64,{{produto['imagem'] }}" width="100">
                    </div>
                </div>

                <div class="mb-3">
                    <label>Trocar Imagem (opcional):</label>
                    <input type="file" name="imagem" class="form-control">
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}